.section {
  margin: 20px 0;
  background-color: white;
}

.section__header {
  border-bottom: 3px solid #ddd;
  padding: 20px;
  margin: 0;
  font-weight: 700;
}

.section__subheader {
  padding: 20px;
  margin: 0;
  font-weight: 700;
}

.section__tasks {
  margin: 0;
  padding: 20px;
}

.section__list {
  border-bottom: 3px solid #ddd;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 0;
}

@media (max-width: 767px) {
  .section__list {
    grid-template-columns: 1fr;
  }
}